## Some Basics

Because Jupyter has a Python interpreter that will execute whatever code is embedded in a notebook file, all the standard arithmetic and mathematical operations can be performed as if we were writing a standalone Python script.

Some of these, however, are particularly useful for this application.

To find the minimum and maximum values in a set of variables:

In [16]:
myFirstVariable = 2312
mySecondVariable = 1339
myThirdVariable = 9878

In [10]:
min(myFirstVariable, mySecondVariable, myThirdVariable)

1339

In [9]:
max(myFirstVariable, mySecondVariable, myThirdVariable)

9878

And to find the range of a data set:

In [13]:
largest = max(myFirstVariable, mySecondVariable, myThirdVariable)
smallest = min(myFirstVariable, mySecondVariable, myThirdVariable)
mySetRange = largest - smallest
mySetRange

8539

Maybe a quicker way to find the average is to use an array. We could always assign array elements to variables or use variables as elements, if needed.

In [35]:
dataSet = [2312, 1339, 9878, 4521]

average = sum(dataSet)/len(dataSet)
average

4512.5

In [60]:
for i in dataSet:
    print(i)

2312
1339
9878
4521

If we wanted to find the median of the set, we might be better off using the median() function from the statistics module:

In [28]:
import statistics as stats

stats.median(dataSet)

3416.5

## Loading Data from a Spreadsheet File

The following we are going to use to import data from a spreadsheet.

In [ ]:
from pandas import *
data = read_excel('testfile.xls')
data

## Working with JSON Arrays

In [63]:
jsonData = { 'FirstVariable' : {'name': 'First Variable', 'value' : 498 },
            'SecondVariable' : {'name': 'Second Variable', 'value' : 677 }, 
            'ThirdVariable' : {'name': 'Third Variable', 'value' : 121 }}
jsonData

{'FirstVariable': {'name': 'First Variable', 'value': 498},
 'SecondVariable': {'name': 'Second Variable', 'value': 677},
 'ThirdVariable': {'name': 'Third Variable', 'value': 121}}

And retrieve a specific element:

In [53]:
jsonData['SecondVariable']

{'name': 'Second Variable', 'value': 677}

This is syntax for loading a JSON array using pandas.

In [92]:
import json

jsonArray = pandas.read_json("sample.json")
jsonFile = open("sample.json",)

data = json.load(jsonFile)

data

{'markers': [{'name': 'Rixos The Palm Dubai', 'position': [25.1212, 55.1535]},
  {'name': 'Shangri-La Hotel', 'location': [25.2084, 55.2719]},
  {'name': 'Grand Hyatt', 'location': [25.2285, 55.3273]}]}